<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800797352751-4dvaqap7fdm1rlot2c733lid7ac3vipf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800797352751-4dvaqap7fdm1rlot2c733lid7ac3vipf</string>
	<key>API_KEY</key>
	<string>AIzaSyBpgI_GdjykSpNPMqVZ5XPkfE7WhHbNtak</string>
	<key>GCM_SENDER_ID</key>
	<string>800797352751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.nutroapple</string>
	<key>PROJECT_ID</key>
	<string>nutro-c99d7</string>
	<key>STORAGE_BUCKET</key>
	<string>nutro-c99d7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800797352751:ios:e92cdd76a3e5879441f7da</string>
</dict>
</plist>